name: Terraform Deployment -----------

on:
  workflow_dispatch:
    inputs:
      action:
        description: 'Action to perform'
        required: true
        default: 'plan'
        type: choice
        options:
          - plan
          - apply
          - destroy

jobs:
  terraform:
    runs-on: ubuntu-latest

    permissions:
  id-token: write
  contents: write
  pull-requests: write

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Terraform
      uses: hashicorp/setup-terraform@v1
      with:
        terraform_version: 1.0.0

    - name: Configure AWS credentials using OIDC
      uses: aws-actions/configure-aws-credentials@v2
      with:
        role-to-assume: arn:aws:iam::116981791124:role/idp-role
        aws-region: us-west-1

    - name: Initialize Terraform
      run: terraform init

    - name: Validate Terraform
      run: terraform validate

    - name: Format Terraform
      run: terraform fmt -recursive

    - name: Install TFLint
      run: |
        curl -s https://raw.githubusercontent.com/terraform-linters/tflint/master/install_linux.sh | bash

    - name: Run TFLint
      run: tflint

    # - name: Install Checkov
    #   run: pip install checkov

    # - name: Run Checkov
    #   run: checkov -d .

    - name: Terraform Plan
      if: github.event.inputs.action == 'plan'
      run: terraform plan

    - name: Terraform Apply
      if: github.event.inputs.action == 'apply'
      run: terraform apply -auto-approve

    - name: Terraform Destroy
      if: github.event.inputs.action == 'destroy'
      run: terraform destroy -auto-approve

    - name: Update README.md
      run: |
        echo "# Terraform Deployment" > README.md
        echo "## Action: ${GITHUB_EVENT_INPUTS_ACTION}" >> README.md
        echo "### Terraform Plan Output" >> README.md
        terraform plan -out=tfplan > plan_output.txt
        cat plan_output.txt >> README.md

    - name: Commit and Push README.md
      env:
        GH_PAT: ${{ secrets.GH_PAT }}
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
        git add README.md
        git commit -m "Update README.md with Terraform deployment plan"
        git push https://x-access-token:${GH_PAT}@github.com/${{ github.repository }}.git
